        <aside>

          {{/* Taxonomies */}}
          <div class="p-3 mb-3 bg-light rounded">
            {{ with .Params.categories }}
            <h4 class="font-italic">{{ i18n "Categories" . }}</h4>
            <ul class="list-inline">
            {{ range . }}
              <li class="list-inline-item"><a href="{{ "categories" | absLangURL }}/{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
            </ul>
            {{ end }}

            {{ with .Params.tags }}
            <h4 class="font-italic">{{ i18n "Tags" . }}</h4>
            <ul class="list-inline">
            {{ range . }}
              <li class="list-inline-item"><a href="{{ "tags" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
            </ul>
            {{ end }}
          </div>

          {{/* Section other pages */}}
          {{/* Get the current page's URL so we can compare it to the list below */}}
          {{ $url := .URL }}

          {{/* Get a list of this section's other pages. "RegularPages" excludes the list page  */}}
          {{ $section_pages := (where .Site.RegularPages "Section" .Section) }}

          {{/* Get the number of entries of  $currentSection and subtract 1 */}}
          {{ $i := sub ($section_pages | len) 1 }}

          {{/* So we can only show this menu if there are one or more other entries  */}}
          {{ if ge $i 1 }}
          <div class="p-3 mb-3 bg-light rounded">
            {{/* Return the section name, make it readable (humanize) and if there are 2 or more entries, make the section name plural (pluralize).  */}}
            <h4 class="font-italic">{{ i18n "Related" . }} <small class="text-muted">{{ $i }} More {{ if ge $i 2 }}{{ .Section | humanize | pluralize }}{{ else }}{{ .Section | humanize }}{{end}}</small></h4>
            <ul class="list-unstyled">
              {{ range first .Site.Params.related_posts_number $section_pages }}
                <li>
                  {{/* If the URL returned is the same as the current URL dim it so we know that that's the page we're on. NOTE: Should probably use a more accessible way of displaying this. */}}
                  <a href="{{ .URL }}" class="{{ if eq $url .URL }} active {{end}}">
                    {{ .Title }}
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
          {{ end }}

          {{/* Archives */}}
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">{{ i18n "Archives" . }}</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>

          {{/* Socials */}}
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">{{ i18n "Socials" . }}</h4>
            <ol class="list-unstyled">
              <li><a href="{{$.Site.Params.contact.github}}">GitHub</a></li>
              <li><a href="{{$.Site.Params.contact.twitter}}">Twitter</a></li>
              <li><a href="{{$.Site.Params.contact.facebook}}">Facebook</a></li>
            </ol>
          </div>
        </aside>
