{{ $title := .Title }}
{{ $url :=  .URL }}

{{ $img_url := .Params.featured_img | default "" }}

{{/* Note: Variables defined inside if conditionals and similar are not visible on the outside. Please use .Scratch instead. */}}
{{ if $img_url }}
  {{ if hasPrefix $img_url "./" }}
    {{ $suffix := index (last 1 (split $url "/")) 0 }}
    {{ .Scratch.Set "$img_url" (delimit (slice (strings.TrimSuffix $suffix $url) (strings.TrimLeft "." $img_url )) "") }}
  {{ end }}
  {{ .Scratch.Set "$img_url" (.Scratch.Get "$img_url" | absURL) }}
{{ end }}

<div class="media mb-2">
  <img style="width: 30%;" class="align-self-start mr-3 box-shadow" src="{{ with .Scratch.Get "$img_url" }}{{ . }}{{ end }}" alt="Featured image of {{$title}}">
  <div style="width: 70%;" class="media-body">
    <h3 class="mt-0">
      <a class="text-dark" href="{{$url | relLangURL}}">{{$title}}</a>
    </h5>
    <p>{{ .Summary }}</p>
    <p class="my-0 py-0"><small class="text-muted font-italic font-weight-light">{{ .Date.Format "15:04:05, Monday, January 2, 2006" }}</small></p>
    <p class="mt-0"><a href="{{$url | relLangURL}}">{{ i18n "Readmore" . }}</a></p>
  </div>
</div>