{{ $id := $.Param "carousel.id" | default "header-lead" }}
{{ $fade := $.Param "carousel.fade" | default false }}
{{ $sections := $.Param "carousel.sections" | default (slice "posts") }}
{{ $posts_number := $.Param "carousel.posts_number" | default 3 }}
{{ $scratch := .Scratch }}

<div id="{{$id}}" class="carousel slide {{if $fade}}carousel-fade{{end}}" data-ride="carousel">

    <ol class="carousel-indicators">
    {{ range $section := $sections }}
    
      {{ $section_pages := where $.Site.RegularPages "Section" $section }}
      {{ $section_pages := where $section_pages "Params.featured_img" "!=" nil }}
      {{ $section_pages := where $section_pages "Params.featured_img" "!=" "" }}

      {{ range $index, $page := (first $posts_number $section_pages) }}
      {{ if eq $index 0 }}
      <li data-target="#{{$id}}" data-slide-to="{{$index}}" class="active"></li>
      {{ else }}
      <li data-target="#{{$id}}" data-slide-to="{{$index}}" class="active"></li>
      {{ end }}
      {{ end }}

    {{ end }}
    </ol>

    <div class="carousel-inner">
    {{ range $section := $sections }}
    
      {{ $section_pages := where $.Site.RegularPages "Section" $section }}
      {{ $section_pages := where $section_pages "Params.featured_img" "!=" nil }}
      {{ $section_pages := where $section_pages "Params.featured_img" "!=" "" }}

      {{ range $index, $page := (first $posts_number $section_pages) }}
      
      {{/* adjust featured image url */}}
      {{ partial "utils/relpageurl" (dict "scratch" $scratch "pageurl" $page.URL "url" $page.Params.featured_img "abs" true) }}
      
      {{ if eq $index 0 }}
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{ $scratch.Get "utils.relpageurl" }}" alt="{{ $page.Title }}">
        <div class="carousel-caption d-none d-md-block">
          <h5><a href="{{$page.URL}}">{{ $page.Title }}</a></h5>
          <p>{{ $page.Params.description }}</p>
        </div>
      </div>
      {{ else }}
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ $scratch.Get "utils.relpageurl" }}" alt="{{ $page.Title }}">
        <div class="carousel-caption d-none d-md-block">
          <h5><a href="{{$page.URL}}">{{ $page.Title }}</a></h5>
          <p>{{ $page.Params.description }}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
    {{ end }}
    </div>

    <a class="carousel-control-prev" href="#{{$id}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{$id}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>