{{/*
Required Arguments
tip: the tip'll be showed
Optional Arguments
tag: a, button
direction: top, bottom, left, right
trigger: hover focus, click
*/}}
{{ if .IsNamedParams }}
  {{ $tag := (.Get "tag")|default "a" }}
  {{ $direction := (.Get "direction")|default "bottom" }}
  {{ $trigger := (.Get "trigger")|default "" }}

  {{ if eq $tag "a" }}
  <a href="#" data-toggle="tooltip" title="{{ .Get "tip" }}" {{ with $direction }}data-placement="{{ . }}"{{ end }} {{ with $trigger }}data-trigger="{{ . }}"{{ end }}>
      {{ .Inner }}
  </a>
  {{ else if eq $tag "button" }}
  <button type="button" data-toggle="tooltip" title="{{ .Get "tip" }}" {{ with $direction }}data-placement="{{ . }}"{{ end }} {{ with $trigger }}data-trigger="{{ . }}"{{ end }}>
      {{ .Inner }}
  </button>
  {{ end }}
{{ end }}

