{{/*
Required Arguments
title: popover's title
content: popover's content
Optional Arguments
tag: a, button
type: dismiss, toggle
direction: top, bottom, left, right
class: css class
*/}}

{{- if .IsNamedParams -}}
  {{ $tag := (.Get "tag")|default "a" }}
  {{ $direction := (.Get "direction")|default "right" }}
  {{ $type := (.Get "type")|default "dismiss" }}

  {{- if eq $tag "a" -}}
    <a {{ if eq $type "dismiss" }} class="popover-toggle {{ with .Get "class" }}{{.}}{{ end }}" {{ else }} class="popover-dismiss {{ with .Get "class" }}{{.}}{{ end }}" {{ end }} tabindex="0" role="button" data-toggle="popover" {{ with .Get "direction" }} data-placement="{{ . }}" {{ end }} title="{{ .Get "title" }}" data-content="{{ .Get "content" }}">{{ .Inner }}</a>
  {{- else if eq $tag "button" -}}
    <button {{ if eq $type "dismiss" }} class="popover-toggle {{ with .Get "class" }}{{.}}{{ end }}" {{ else }} class="popover-dismiss {{ with .Get "class" }}{{.}}{{ end }}" {{ end }} type="button" data-toggle="popover" {{ with .Get "direction" }} data-placement="{{ . }}" {{ end }} title="{{ .Get "title" }}" data-content="{{ .Get "content" }}">{{ .Inner }}</button>
  {{- end -}}
{{- end -}}